# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
out
gen

/node_modules
bundle.js
npm-debug.log
.DS_Store

/bookDetail/.idea/
/bookDetail/node_modules/

/videoSearchReact/.idea
/videoSearchReact/node_modules

.idea/